 <!-- contact section start -->
 <div class="contact_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <h1 class="contact_taital">Login Form</h1>
          </div>
       </div>
    </div>
    <div class="container">
       <div class="contact_section_2">
          <div class="row">
             <div class="col-md-12">
                <div class="mail_section_1">
                  <form action="" method="post" [formGroup]="loginF" (submit)="onLogin()">
                    <div class="form-group">
                        <input type="text" class="mail_text" placeholder="Enter your email..." formControlName="email">
                       </div>
                       <div class="form-group">
                           <input type="password" class="mail_text" placeholder="Enter your password..." formControlName="password">
                       </div>
                       <div style="clear: both;"></div>
                       <div class="send_bt" style="margin-top: 25px;">
                        <button type="submit" class="btn btn-danger">Login now</button>
                       </div>
                  </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- contact section end -->