<div class="banner_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="banner_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">Car Rent <br><span style="color: #fe5b29;">For You</span></h1>
                                <p class="banner_text">There are many variations of passages of Lorem Ipsum available,
                                    but the majority</p>
                                <div class="btn_main">
                                    <div class="contact_bt"><a href="#">Read More</a></div>
                                    <div class="contact_bt active"><a href="#">Contact Us</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">Car Rent <br><span style="color: #fe5b29;">For You</span></h1>
                                <p class="banner_text">There are many variations of passages of Lorem Ipsum available,
                                    but the majority</p>
                                <div class="btn_main">
                                    <div class="contact_bt"><a href="#">Read More</a></div>
                                    <div class="contact_bt active"><a href="#">Contact Us</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">Car Rent <br><span style="color: #fe5b29;">For You</span></h1>
                                <p class="banner_text">There are many variations of passages of Lorem Ipsum available,
                                    but the majority</p>
                                <div class="btn_main">
                                    <div class="contact_bt"><a href="#">Read More</a></div>
                                    <div class="contact_bt active"><a href="#">Contact Us</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner_img"><img src="assets/images/banner-img.png"></div>
            </div>
        </div>
    </div>
</div>

<div class="gallery_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h1 class="gallery_taital">Our best offers</h1>
          </div>
       </div>
       <div class="gallery_section_2">
          <div class="row">
             <div class="col-md-4" *ngFor="let prod of products">
                <div class="gallery_box">
                   <div class="gallery_img"><img [src]="prod.image"></div>
                   <h3 class="types_text">{{prod.name}}</h3>
                     <p class="looking_text">Start per day ${{prod.price}}</p>
                   <div class="read_bt" style="width: 100%;">
                     <a href="#">Book Now</a>
                     <a href="javascript:void()" (click)="onLike(prod.id)">Un Like</a>
                  </div>
                </div>
             </div>
             
          </div>
       </div>
      
    </div>
  </div>